<div class="container">
  <div class="hd-container">
    <p class="hd-logo"><a href="/" title="Central Group" class="hd-logo-link"><span class="hd-logo-img"></span></a></p>
    <div class="hd-top-menu">
      <nav>
        <ul class="mm-level-0 mm-menu-top main-menu">
          <li id="mm-product_371806" class="mm-product"><span id="mm-product-link_371806"
              class="mm-product-link">BYTY</span><!----><!---->
            <ul class="mm-level-1">
              <li id="mm-submenu-item-big-dark_371775" class="mm-submenu-item-big-dark"><a href="/vyhledavani?jv=1"
                  id="mm-submenu-item-big-dark-link_371775"
                  class="mm-submenu-item-big-dark-link">Vyhledávání</a><!----><!----><!----></li>
              <li id="mm-submenu-item-big-dark_371776" class="mm-submenu-item-big-dark"><a href="/byty-lokality?jv=1"
                  id="mm-submenu-item-big-dark-link_371776" class="mm-submenu-item-big-dark-link">Přehled všech
                  projektů</a><!----><!----><!----></li><!---->
              <li id="mm-submenu-item-no-border_371822" class="mm-submenu-item-no-border"><a href="/lokalita/189?jv=1"
                  id="mm-submenu-item-no-border-link_371822" class="mm-submenu-item-no-border-link">Praha 3 –
                  Žižkov</a><!----><!----><!---->
              </li>
              <li id="mm-submenu-item-no-border_371819" class="mm-submenu-item-no-border"><a
                  href="/byty-lokality?cityPartId=53&amp;jv=1" id="mm-submenu-item-no-border-link_371819"
                  class="mm-submenu-item-no-border-link">Praha 4 – Háje</a><!----><!----><!---->
              </li><!----><!----><!----><!---->
              <li id="mm-submenu-item-no-border_371816" class="mm-submenu-item-no-border"><a href="/lokalita/192?jv=1"
                  id="mm-submenu-item-no-border-link_371816" class="mm-submenu-item-no-border-link">Praha 9 –
                  Hloubětín</a><!----><!----><!----></li>
              <li id="mm-submenu-item-no-border_371820" class="mm-submenu-item-no-border"><a href="/lokalita/152?jv=1"
                  id="mm-submenu-item-no-border-link_371820" class="mm-submenu-item-no-border-link">Praha 9 –
                  Vysočany</a><!----><!----><!----></li><!----><!---->
              <li id="mm-submenu-item_371821" class="mm-submenu-item"><a href="/byty-lokality?cityId=9&amp;jv=1"
                  id="mm-submenu-item-link_371821" class="mm-submenu-item-link">Praha 10 –
                  Záběhlice</a><!----><!----><!----></li>
              <!----><!----><!---->
              <li id="mm-submenu-item_371777" class="mm-submenu-item"><a href="/page/financovani?jv=1"
                  id="mm-submenu-item-link_371777" class="mm-submenu-item-link">Jak financovat
                  nový byt</a><!----><!----><!----></li>
              <li id="mm-submenu-item_371778" class="mm-submenu-item"><a href="/page/postup-koupe?jv=1"
                  id="mm-submenu-item-link_371778" class="mm-submenu-item-link">Jak postupovat při
                  koupi</a><!----><!----><!---->
              </li>
              <li id="mm-submenu-item_371779" class="mm-submenu-item"><a href="/page/usporne-stavby?jv=1"
                  id="mm-submenu-item-link_371779" class="mm-submenu-item-link">Energeticky úsporné
                  byty</a><!----><!----><!---->
              </li>
              <li id="mm-submenu-item_371729" class="mm-submenu-item"><a href="/page/vzorkovna?jv=1"
                  id="mm-submenu-item-link_371729" class="mm-submenu-item-link">Vzorkovna</a><!----><!----><!----></li>
              <li id="mm-submenu-item_371747" class="mm-submenu-item"><a
                  href="https://central-interier.cz/page/ci-home?jv=1" id="mm-submenu-item-link_371747"
                  class="mm-submenu-item-link">Interiérové
                  studio</a><!----><!----><!----></li>
              <li id="mm-submenu-item_371780" class="mm-submenu-item"><a href="/page/kontakty?jv=1#obchod"
                  id="mm-submenu-item-link_371780" class="mm-submenu-item-link">Kontakty na obchodní
                  tým</a><!----><!----><!---->
              </li>
              <li id="mm-submenu-item_371744" class="mm-submenu-item"><a href="/page/novy-byt-za-stary?jv=1"
                  id="mm-submenu-item-link_371744" class="mm-submenu-item-link">Výhody nového bytu oproti
                  staršímu</a><!----><!----><!----></li><!---->
            </ul>
          </li>
          <li id="mm-product_371807" class="mm-product"><span id="mm-product-link_371807"
              class="mm-product-link">KOMERCE</span><!----><!---->
            <ul class="mm-level-1">
              <li id="mm-submenu-item_371746" class="mm-submenu-item"><a
                  href="/pages.aspx?page=kancelare-sklady-hp&amp;jv=1" id="mm-submenu-item-link_371746"
                  class="mm-submenu-item-link">Kanceláře a sklady
                  k pronájmu</a><!----><!----><!----></li>
              <li id="mm-submenu-item_371774" class="mm-submenu-item"><a
                  href="https://komercni-prostory.com/page/komerce-uvod" id="mm-submenu-item-link_371774"
                  class="mm-submenu-item-link">Komerční prostory
                  k prodeji</a><!----><!----><!----></li>
              <li id="mm-submenu-item_371781" class="mm-submenu-item"><a
                  href="/vyhledavani?apartmentTypes%5B0%5D=2&amp;sort=1&amp;search=true"
                  id="mm-submenu-item-link_371781" class="mm-submenu-item-link">Ateliéry k
                  prodeji</a><!----><!----><!----></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="hd-info">
      <ul class="hd-contact-list">
        <li class="hd-contact-item"><a href="tel:+420226222222" id="phoneClick" class="hd-va-center"><i
              class="fal fa-phone" aria-hidden="true"></i><span class="hd-link hd-phone hd-info-text"><span>226 222
                222</span></span></a></li>
        <li class="hd-contact-item hd-contact-mail"><a href="mailto:info@central-group.cz" title="NAPIŠTE NÁM"
            class="hd-va-center"><i class="fal fa-envelope" aria-hidden="true"></i><span
              class="hd-link hd-mail hd-info-text">NAPIŠTE NÁM</span></a>
        </li>
        <li class="hd-contact-item hd-contact-mail"><a href="#" title="Sjednat schůzku" class="hd-va-center"><i
              class="fal fa-calendar-check" aria-hidden="true"></i><span class="hd-link hd-mail hd-info-text">Sjednat
              schůzku</span></a></li>
        <li class="hd-contact-item"><a href="/muj-vyber" class="hd-va-center"><i class="fal fa-heart"
              aria-hidden="true"></i><span class="hd-favorite">Můj výběr
              <style>
                body {
                  overflow-x: hidden;
                }

                .hd-container {
                  padding: 0 15px;
                }

                .hd-top-menu .mm-level-1 li {
                  padding: 8px 0;
                }

                @media (max-width: 767.98px) {
                  .hd-container {
                    padding: 0 8px;
                  }
                }

                @media (min-width: 992px) {

                  .hd-logo,
                  .hd-logo-link {
                    width: 146px;
                  }
                }

                .mm-product-link {
                  padding: 15px 15px;
                }

                @media (min-width: 992px) {
                  .hd-top-menu {
                    margin-top: 0;
                  }
                }

                @media (min-width: 1025px) {
                  .hd-contact-item {
                    margin-top: 10px;
                  }

                  .hd-lang {
                    margin-top: -2px;
                  }
                }

                .hd-favorite {
                  font-size: .813rem;
                }

                .hd-info-text {
                  font-size: .813rem;
                }

                .hd-link {
                  font-size: .813rem;
                }

                @media (min-width: 1200px) {
                  .head-bottom .mm-menu-bottom .mm-main-item-link {
                    padding: 10px 24px;
                  }
                }

                .head-bottom .hd-container2 {
                  margin-left: 172px;
                }

                #mm-product-link_371806.mm-product-link {
                  font-weight: 600;
                }

                #mm-product-link_371807.mm-product-link {
                  font-weight: 600;
                }
              </style>
            </span></a></li>
        <li class="hd-contact-item hd-contact-social"><a href="https://www.facebook.com/centralgroupofficial"
            target="_blank" title="Facebook" class="hd-link"><img
              src="https://www.central-group.cz/wms3/img/icon-fb.d93f8d88.svg" alt="Facebook"></a><a
            href="https://www.instagram.com/central_group_as" target="_blank" title="Instagram" class="hd-link"><img
              src="https://www.central-group.cz/wms3/img/icon-insta.74c40552.svg" alt="Instagram"></a><a
            href="https://twitter.com/CentralGroup1" target="_blank" title="X" class="hd-link space-bird"><img
              src="https://www.central-group.cz/wms3/img/icon-x.7799e8dd.svg" alt="X" class="social-x"></a><a
            href="https://www.linkedin.com/company/central-group-a-s-" target="_blank" title="LinkedIn"
            class="hd-link"><img src="https://www.central-group.cz/wms3/img/icon-linkedin.69e28a40.svg"
              alt="LinkedIn"></a></li>
      </ul>
    </div>
    <div class="hd-lang"><!----><span><a href="/?jv=3" class="hd-link">
          EN
        </a></span></div>
    <div class="hd-nav">
      <nav><a tabindex="0" class="nav-brand hd-va-center"><i class="fa-light fa-bars" aria-hidden="true"></i></a>
        <ul class="mm-level-0 mm-menu main-menu">
          <li id="mm-separator-full_371718" class="mm-separator-full"><a id="mm-separator-full-link_371718"
              class="mm-separator-full-link">separator</a><!----><!----></li>
          <li id="mm-product_371806" class="mm-product"><a id="mm-product-link_371806" class="mm-product-link">BYTY<i
                class="fal fa-chevron-down menu-child-icon" aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371716" class="mm-separator-full"><a id="mm-separator-full-link_371716"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item-big-dark_371775" class="mm-submenu-item-big-dark"><a href="/vyhledavani?jv=1"
                  id="mm-submenu-item-big-dark-link_371775"
                  class="mm-submenu-item-big-dark-link">Vyhledávání</a><!----><!----></li>
              <li id="mm-separator-full_371727" class="mm-separator-full"><a id="mm-separator-full-link_371727"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
              <li id="mm-submenu-item-big-dark_371776" class="mm-submenu-item-big-dark"><a href="/byty-lokality?jv=1"
                  id="mm-submenu-item-big-dark-link_371776" class="mm-submenu-item-big-dark-link">Přehled všech
                  projektů</a><!----><!---->
              </li>
              <li id="mm-separator-full_371715" class="mm-separator-full"><a id="mm-separator-full-link_371715"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_03</a><!----><!---->
              </li><!---->
              <li id="mm-submenu-item-no-border_371822" class="mm-submenu-item-no-border"><a href="/lokalita/189?jv=1"
                  id="mm-submenu-item-no-border-link_371822" class="mm-submenu-item-no-border-link">Praha 3 –
                  Žižkov</a><!----><!----></li>
              <li id="mm-submenu-item-no-border_371819" class="mm-submenu-item-no-border"><a
                  href="/byty-lokality?cityPartId=53&amp;jv=1" id="mm-submenu-item-no-border-link_371819"
                  class="mm-submenu-item-no-border-link">Praha 4 – Háje</a><!----><!----></li>
              <!----><!----><!----><!---->
              <li id="mm-submenu-item-no-border_371816" class="mm-submenu-item-no-border"><a href="/lokalita/192?jv=1"
                  id="mm-submenu-item-no-border-link_371816" class="mm-submenu-item-no-border-link">Praha 9 –
                  Hloubětín</a><!----><!---->
              </li>
              <li id="mm-submenu-item-no-border_371820" class="mm-submenu-item-no-border"><a href="/lokalita/152?jv=1"
                  id="mm-submenu-item-no-border-link_371820" class="mm-submenu-item-no-border-link">Praha 9 –
                  Vysočany</a><!----><!----></li>
              <!----><!---->
              <li id="mm-submenu-item_371821" class="mm-submenu-item"><a href="/byty-lokality?cityId=9&amp;jv=1"
                  id="mm-submenu-item-link_371821" class="mm-submenu-item-link">Praha 10 – Záběhlice</a><!----><!---->
              </li>
              <!----><!----><!----><!---->
              <li id="mm-submenu-item_371777" class="mm-submenu-item"><a href="/page/financovani?jv=1"
                  id="mm-submenu-item-link_371777" class="mm-submenu-item-link">Jak financovat
                  nový byt</a><!----><!----></li>
              <li id="mm-submenu-item_371778" class="mm-submenu-item"><a href="/page/postup-koupe?jv=1"
                  id="mm-submenu-item-link_371778" class="mm-submenu-item-link">Jak postupovat při
                  koupi</a><!----><!----></li>
              <li id="mm-submenu-item_371779" class="mm-submenu-item"><a href="/page/usporne-stavby?jv=1"
                  id="mm-submenu-item-link_371779" class="mm-submenu-item-link">Energeticky úsporné
                  byty</a><!----><!----></li>
              <li id="mm-submenu-item_371729" class="mm-submenu-item"><a href="/page/vzorkovna?jv=1"
                  id="mm-submenu-item-link_371729" class="mm-submenu-item-link">Vzorkovna</a><!----><!----></li>
              <li id="mm-submenu-item_371747" class="mm-submenu-item"><a
                  href="https://central-interier.cz/page/ci-home?jv=1" id="mm-submenu-item-link_371747"
                  class="mm-submenu-item-link">Interiérové
                  studio</a><!----><!----></li>
              <li id="mm-submenu-item_371780" class="mm-submenu-item"><a href="/page/kontakty?jv=1#obchod"
                  id="mm-submenu-item-link_371780" class="mm-submenu-item-link">Kontakty na obchodní
                  tým</a><!----><!----></li>
              <li id="mm-submenu-item_371744" class="mm-submenu-item"><a href="/page/novy-byt-za-stary?jv=1"
                  id="mm-submenu-item-link_371744" class="mm-submenu-item-link">Výhody nového bytu oproti
                  staršímu</a><!----><!----></li><!---->
              <li id="mm-separator-full_371734" class="mm-separator-full"><a id="mm-separator-full-link_371734"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_04</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-separator-full_371725" class="mm-separator-full"><a id="mm-separator-full-link_371725"
              class="mm-separator-full-link">sep11</a><!----><!----></li>
          <li id="mm-product_371807" class="mm-product"><a id="mm-product-link_371807" class="mm-product-link">KOMERCE<i
                class="fal fa-chevron-down menu-child-icon" aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371723" class="mm-separator-full"><a id="mm-separator-full-link_371723"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371746" class="mm-submenu-item"><a
                  href="/pages.aspx?page=kancelare-sklady-hp&amp;jv=1" id="mm-submenu-item-link_371746"
                  class="mm-submenu-item-link">Kanceláře a sklady
                  k pronájmu</a><!----><!----></li>
              <li id="mm-submenu-item_371774" class="mm-submenu-item"><a
                  href="https://komercni-prostory.com/page/komerce-uvod" id="mm-submenu-item-link_371774"
                  class="mm-submenu-item-link">Komerční prostory
                  k prodeji</a><!----><!----></li>
              <li id="mm-submenu-item_371781" class="mm-submenu-item"><a
                  href="/vyhledavani?apartmentTypes%5B0%5D=2&amp;sort=1&amp;search=true"
                  id="mm-submenu-item-link_371781" class="mm-submenu-item-link">Ateliéry k
                  prodeji</a><!----><!----></li>
              <li id="mm-separator-full_371713" class="mm-separator-full"><a id="mm-separator-full-link_371713"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-separator-full_371733" class="mm-separator-full"><a id="mm-separator-full-link_371733"
              class="mm-separator-full-link">sep12</a><!----><!----></li><!---->
          <li id="mm-separator-full_371742" class="mm-separator-full"><a id="mm-separator-full-link_371742"
              class="mm-separator-full-link">sep15</a><!----><!----></li>
          <li id="mm-separator-full_371717" class="mm-separator-full"><a id="mm-separator-full-link_371717"
              class="mm-separator-full-link">sep13</a><!----><!----></li><!---->
          <li id="mm-main-item_371808" class="mm-main-item"><a id="mm-main-item-link_371808"
              class="mm-main-item-link">Možnosti financování<i class="fal fa-chevron-down menu-child-icon"
                aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371771" class="mm-separator-full"><a id="mm-separator-full-link_371771"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371749" class="mm-submenu-item"><a href="/page/financovani?jv=1"
                  id="mm-submenu-item-link_371749" class="mm-submenu-item-link">Nejširší možnosti
                  financování na trhu</a><!----><!----></li>
              <li id="mm-submenu-item_371750" class="mm-submenu-item"><a href="/page/hypoteka?jv=1"
                  id="mm-submenu-item-link_371750" class="mm-submenu-item-link">Vyřízení
                  zvýhodněné hypotéky zdarma,<br>na míru a na klíč</a><!----><!----></li><!---->
              <li id="mm-submenu-item_371786" class="mm-submenu-item"><a href="/page/garance-vraceni-penez?jv=1"
                  id="mm-submenu-item-link_371786" class="mm-submenu-item-link">Garance vrácení peněz</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371773" class="mm-submenu-item"><a
                  href="/page/postup-koupe?jv=1#vernostni-program" id="mm-submenu-item-link_371773"
                  class="mm-submenu-item-link">Věrnostní a
                  množstevní slevy</a><!----><!----></li><!---->
              <li id="mm-submenu-item_371787" class="mm-submenu-item"><a
                  href="https://www.central-group.cz/page/kontakty?jv=1#hypo" id="mm-submenu-item-link_371787"
                  class="mm-submenu-item-link">Kontakty na
                  hypoteční specialisty</a><!----><!----></li>
              <li id="mm-separator-full_371772" class="mm-separator-full"><a id="mm-separator-full-link_371772"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li><!---->
          <li id="mm-main-item_371809" class="mm-main-item"><a id="mm-main-item-link_371809"
              class="mm-main-item-link">Standardy a kvalita<i class="fal fa-chevron-down menu-child-icon"
                aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371719" class="mm-separator-full"><a id="mm-separator-full-link_371719"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371739" class="mm-submenu-item"><a href="/page/kvalita-bytu"
                  id="mm-submenu-item-link_371739" class="mm-submenu-item-link">Kvalita bytů od
                  CENTRAL GROUP</a><!----><!----></li>
              <li id="mm-submenu-item_371791" class="mm-submenu-item"><a href="/page/vzorkovna?jv=1"
                  id="mm-submenu-item-link_371791" class="mm-submenu-item-link">Vzorkovna</a><!----><!----></li>
              <li id="mm-submenu-item_371770" class="mm-submenu-item"><a
                  href="https://central-interier.cz/page/ci-home?jv=1" id="mm-submenu-item-link_371770"
                  class="mm-submenu-item-link">CENTRAL
                  INTERIER</a><!----><!----></li><!---->
              <li id="mm-submenu-item_371748" class="mm-submenu-item"><a href="/page/dodavatele?jv=1"
                  id="mm-submenu-item-link_371748" class="mm-submenu-item-link">Spolupracující
                  dodavatelé</a><!----><!----></li><!---->
              <li id="mm-separator-full_371768" class="mm-separator-full"><a id="mm-separator-full-link_371768"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-main-item_371810" class="mm-main-item"><a id="mm-main-item-link_371810" class="mm-main-item-link">O
              nás<i class="fal fa-chevron-down menu-child-icon" aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371800" class="mm-separator-full"><a id="mm-separator-full-link_371800"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371751" class="mm-submenu-item"><a href="/page/proc-central-group?jv=1"
                  id="mm-submenu-item-link_371751" class="mm-submenu-item-link">Proč si vybrat CENTRAL
                  GROUP</a><!----><!----></li>
              <li id="mm-submenu-item_371753" class="mm-submenu-item"><a href="/page/o-nas?jv=1"
                  id="mm-submenu-item-link_371753" class="mm-submenu-item-link">Naše
                  vize</a><!----><!----></li>
              <li id="mm-submenu-item_371804" class="mm-submenu-item"><a href="/page/pripravovane-projekty?jv=1"
                  id="mm-submenu-item-link_371804" class="mm-submenu-item-link">Připravované projekty</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371752" class="mm-submenu-item"><a href="/page/reference?jv=1"
                  id="mm-submenu-item-link_371752" class="mm-submenu-item-link">Reference –
                  realizované projekty</a><!----><!----></li>
              <li id="mm-submenu-item_371754" class="mm-submenu-item"><a href="/page/sponzorujeme?jv=1"
                  id="mm-submenu-item-link_371754" class="mm-submenu-item-link">Pomáháme a
                  sponzorujeme</a><!----><!----></li>
              <li id="mm-submenu-item_371756" class="mm-submenu-item"><a href="/page/koupime-pozemky?jv=1"
                  id="mm-submenu-item-link_371756" class="mm-submenu-item-link">Koupíme pozemky a
                  brownfieldy</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371755" class="mm-submenu-item"><a href="/page/informace-pro-dodavatele?jv=1"
                  id="mm-submenu-item-link_371755" class="mm-submenu-item-link">Informace pro
                  dodavatele</a><!----><!----></li>
              <li id="mm-separator-full_371720" class="mm-separator-full"><a id="mm-separator-full-link_371720"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-main-item_371811" class="mm-main-item"><a id="mm-main-item-link_371811"
              class="mm-main-item-link">Kariéra<i class="fal fa-chevron-down menu-child-icon"
                aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371721" class="mm-separator-full"><a id="mm-separator-full-link_371721"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371792" class="mm-submenu-item"><a href="https://central-group.jobs.cz/"
                  id="mm-submenu-item-link_371792" class="mm-submenu-item-link">Volné pozice</a><!----><!----></li>
              <!---->
              <li id="mm-submenu-item_371757" class="mm-submenu-item"><a href="/page/kariera?jv=1"
                  id="mm-submenu-item-link_371757" class="mm-submenu-item-link">Proč pracovat u
                  nás</a><!----><!----></li>
              <li id="mm-submenu-item_371758" class="mm-submenu-item"><a href="/page/kontakty?jv=1#hr"
                  id="mm-submenu-item-link_371758" class="mm-submenu-item-link">Kontakty na
                  personální oddělení</a><!----><!----></li>
              <li id="mm-separator-full_371802" class="mm-separator-full"><a id="mm-separator-full-link_371802"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-main-item_371812" class="mm-main-item"><a id="mm-main-item-link_371812"
              class="mm-main-item-link">Média<i class="fal fa-chevron-down menu-child-icon"
                aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371793" class="mm-separator-full"><a id="mm-separator-full-link_371793"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371759" class="mm-submenu-item"><a href="/page/tiskove-centrum?jv=1"
                  id="mm-submenu-item-link_371759" class="mm-submenu-item-link">Tiskové centrum</a><!----><!----></li>
              <li id="mm-submenu-item_371712" class="mm-submenu-item"><a href="/page/media?jv=1"
                  id="mm-submenu-item-link_371712" class="mm-submenu-item-link">Napsali o
                  nás</a><!----><!----></li><!---->
              <li id="mm-submenu-item_371760" class="mm-submenu-item"><a href="/page/ke-stazeni?jv=1"
                  id="mm-submenu-item-link_371760" class="mm-submenu-item-link">Loga a fotografie
                  vedení společnosti</a><!----><!----></li>
              <li id="mm-submenu-item_371728" class="mm-submenu-item"><a href="/page/fotografie-a-vizualizace?jv=1"
                  id="mm-submenu-item-link_371728" class="mm-submenu-item-link">Fotografie a vizualizace
                  projektů</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371761" class="mm-submenu-item"><a href="/page/kontakty?jv=1#media"
                  id="mm-submenu-item-link_371761" class="mm-submenu-item-link">Kontakty pro média</a><!----><!---->
              </li>
              <li id="mm-separator-full_371741" class="mm-separator-full"><a id="mm-separator-full-link_371741"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-main-item_371813" class="mm-main-item"><a id="mm-main-item-link_371813"
              class="mm-main-item-link">Kontakty<i class="fal fa-chevron-down menu-child-icon"
                aria-hidden="true"></i></a><!---->
            <ul class="mm-level-1">
              <li id="mm-separator-full_371732" class="mm-separator-full"><a id="mm-separator-full-link_371732"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_01</a><!----><!---->
              </li>
              <li id="mm-submenu-item_371762" class="mm-submenu-item"><a href="/page/kontakty?jv=1"
                  id="mm-submenu-item-link_371762" class="mm-submenu-item-link">Hlavní kontakty a
                  sídlo firmy</a><!----><!----></li>
              <li id="mm-submenu-item_371763" class="mm-submenu-item"><a href="/page/kontakty#obchod"
                  id="mm-submenu-item-link_371763" class="mm-submenu-item-link">Kontakty na
                  obchodní tým</a><!----><!----></li>
              <li id="mm-submenu-item_371794" class="mm-submenu-item"><a href="/page/kontakty#hypo"
                  id="mm-submenu-item-link_371794" class="mm-submenu-item-link">Kontakty na
                  hypoteční specialisty</a><!----><!----></li><!---->
              <li id="mm-submenu-item_371797" class="mm-submenu-item"><a href="/page/kontakty#hr"
                  id="mm-submenu-item-link_371797" class="mm-submenu-item-link">Kontakty na
                  personální oddělení</a><!----><!----></li>
              <li id="mm-submenu-item_371795" class="mm-submenu-item"><a href="/page/koupime-pozemky#akvizice"
                  id="mm-submenu-item-link_371795" class="mm-submenu-item-link">Kontakty pro nákup
                  pozemků</a><!----><!----></li>
              <li id="mm-submenu-item_371798" class="mm-submenu-item"><a href="/page/kontakty#media"
                  id="mm-submenu-item-link_371798" class="mm-submenu-item-link">Kontakty pro
                  média</a><!----><!----></li>
              <li id="mm-submenu-item_371796" class="mm-submenu-item"><a href="/page/kontakty#dodavatele"
                  id="mm-submenu-item-link_371796" class="mm-submenu-item-link">Kontakty pro
                  dodavatele</a><!----><!----></li>
              <li id="mm-separator-full_371730" class="mm-separator-full"><a id="mm-separator-full-link_371730"
                  class="mm-separator-full-link"
                  style="background-color: rgb(255, 255, 255);">separator_02</a><!----><!---->
              </li>
            </ul>
          </li>
          <li id="mm-main-item_371814" class="mm-main-item"><a
              href="https://www.central-group.cz/kois.aspx?page=koisPrihlaseni&amp;jv=1" id="mm-main-item-link_371814"
              class="mm-main-item-link">Klientská zóna</a><!----><!---->
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<header class="head-bottom">
  <div class="container">
    <div class="hd-container2">
      <ul class="mm-level-0 mm-menu-bottom">
        <li id="mm-main-item_371808" class="mm-main-item"><span id="mm-main-item-link_371808"
            class="mm-main-item-link">Možnosti financování</span><!---->
          <ul class="mm-level-1">
            <li id="mm-submenu-item_371749" class="mm-submenu-item"><a href="/page/financovani?jv=1"
                id="mm-submenu-item-link_371749" class="mm-submenu-item-link">Nejširší možnosti
                financování na trhu</a><!----><!----></li>
            <li id="mm-submenu-item_371750" class="mm-submenu-item"><a href="/page/hypoteka?jv=1"
                id="mm-submenu-item-link_371750" class="mm-submenu-item-link">Vyřízení zvýhodněné
                hypotéky zdarma,<br>na míru a na klíč</a><!----><!----></li><!---->
            <li id="mm-submenu-item_371786" class="mm-submenu-item"><a href="/page/garance-vraceni-penez?jv=1"
                id="mm-submenu-item-link_371786" class="mm-submenu-item-link">Garance vrácení peněz</a><!----><!---->
            </li>
            <li id="mm-submenu-item_371773" class="mm-submenu-item"><a href="/page/postup-koupe?jv=1#vernostni-program"
                id="mm-submenu-item-link_371773" class="mm-submenu-item-link">Věrnostní a množstevní
                slevy</a><!----><!----></li>
            <!---->
            <li id="mm-submenu-item_371787" class="mm-submenu-item"><a
                href="https://www.central-group.cz/page/kontakty?jv=1#hypo" id="mm-submenu-item-link_371787"
                class="mm-submenu-item-link">Kontakty na hypoteční
                specialisty</a><!----><!----></li>
          </ul>
        </li>
        <li id="mm-main-item_371809" class="mm-main-item"><span id="mm-main-item-link_371809"
            class="mm-main-item-link">Standardy a kvalita</span><!---->
          <ul class="mm-level-1">
            <li id="mm-submenu-item_371739" class="mm-submenu-item"><a href="/page/kvalita-bytu"
                id="mm-submenu-item-link_371739" class="mm-submenu-item-link">Kvalita bytů od
                CENTRAL GROUP</a><!----><!----></li>
            <li id="mm-submenu-item_371791" class="mm-submenu-item"><a href="/page/vzorkovna?jv=1"
                id="mm-submenu-item-link_371791" class="mm-submenu-item-link">Vzorkovna</a><!----><!----></li>
            <li id="mm-submenu-item_371770" class="mm-submenu-item"><a
                href="https://central-interier.cz/page/ci-home?jv=1" id="mm-submenu-item-link_371770"
                class="mm-submenu-item-link">CENTRAL
                INTERIER</a><!----><!----></li><!---->
            <li id="mm-submenu-item_371748" class="mm-submenu-item"><a href="/page/dodavatele?jv=1"
                id="mm-submenu-item-link_371748" class="mm-submenu-item-link">Spolupracující
                dodavatelé</a><!----><!----></li><!---->
          </ul>
        </li>
        <li id="mm-main-item_371810" class="mm-main-item"><span id="mm-main-item-link_371810"
            class="mm-main-item-link">O nás</span><!---->
          <ul class="mm-level-1">
            <li id="mm-submenu-item_371751" class="mm-submenu-item"><a href="/page/proc-central-group?jv=1"
                id="mm-submenu-item-link_371751" class="mm-submenu-item-link">Proč si vybrat CENTRAL
                GROUP</a><!----><!----></li>
            <li id="mm-submenu-item_371753" class="mm-submenu-item"><a href="/page/o-nas?jv=1"
                id="mm-submenu-item-link_371753" class="mm-submenu-item-link">Naše
                vize</a><!----><!----></li>
            <li id="mm-submenu-item_371804" class="mm-submenu-item"><a href="/page/pripravovane-projekty?jv=1"
                id="mm-submenu-item-link_371804" class="mm-submenu-item-link">Připravované projekty</a><!----><!---->
            </li>
            <li id="mm-submenu-item_371752" class="mm-submenu-item"><a href="/page/reference?jv=1"
                id="mm-submenu-item-link_371752" class="mm-submenu-item-link">Reference –
                realizované projekty</a><!----><!----></li>
            <li id="mm-submenu-item_371754" class="mm-submenu-item"><a href="/page/sponzorujeme?jv=1"
                id="mm-submenu-item-link_371754" class="mm-submenu-item-link">Pomáháme a
                sponzorujeme</a><!----><!----></li>
            <li id="mm-submenu-item_371756" class="mm-submenu-item"><a href="/page/koupime-pozemky?jv=1"
                id="mm-submenu-item-link_371756" class="mm-submenu-item-link">Koupíme pozemky a
                brownfieldy</a><!----><!----></li>
            <li id="mm-submenu-item_371755" class="mm-submenu-item"><a href="/page/informace-pro-dodavatele?jv=1"
                id="mm-submenu-item-link_371755" class="mm-submenu-item-link">Informace pro dodavatele</a><!----><!---->
            </li>
          </ul>
        </li>
        <li id="mm-main-item_371811" class="mm-main-item"><span id="mm-main-item-link_371811"
            class="mm-main-item-link">Kariéra</span><!---->
          <ul class="mm-level-1">
            <li id="mm-submenu-item_371792" class="mm-submenu-item"><a href="https://central-group.jobs.cz/"
                id="mm-submenu-item-link_371792" class="mm-submenu-item-link">Volné pozice</a><!----><!----></li><!---->
            <li id="mm-submenu-item_371757" class="mm-submenu-item"><a href="/page/kariera?jv=1"
                id="mm-submenu-item-link_371757" class="mm-submenu-item-link">Proč pracovat u
                nás</a><!----><!----></li>
            <li id="mm-submenu-item_371758" class="mm-submenu-item"><a href="/page/kontakty?jv=1#hr"
                id="mm-submenu-item-link_371758" class="mm-submenu-item-link">Kontakty na personální
                oddělení</a><!----><!----></li>
          </ul>
        </li>
        <li id="mm-main-item_371812" class="mm-main-item"><span id="mm-main-item-link_371812"
            class="mm-main-item-link">Média</span><!---->
          <ul class="mm-level-1">
            <li id="mm-submenu-item_371759" class="mm-submenu-item"><a href="/page/tiskove-centrum?jv=1"
                id="mm-submenu-item-link_371759" class="mm-submenu-item-link">Tiskové
                centrum</a><!----><!----></li>
            <li id="mm-submenu-item_371712" class="mm-submenu-item"><a href="/page/media?jv=1"
                id="mm-submenu-item-link_371712" class="mm-submenu-item-link">Napsali o
                nás</a><!----><!----></li><!---->
            <li id="mm-submenu-item_371760" class="mm-submenu-item"><a href="/page/ke-stazeni?jv=1"
                id="mm-submenu-item-link_371760" class="mm-submenu-item-link">Loga a fotografie
                vedení společnosti</a><!----><!----></li>
            <li id="mm-submenu-item_371728" class="mm-submenu-item"><a href="/page/fotografie-a-vizualizace?jv=1"
                id="mm-submenu-item-link_371728" class="mm-submenu-item-link">Fotografie a vizualizace
                projektů</a><!----><!---->
            </li>
            <li id="mm-submenu-item_371761" class="mm-submenu-item"><a href="/page/kontakty?jv=1#media"
                id="mm-submenu-item-link_371761" class="mm-submenu-item-link">Kontakty pro
                média</a><!----><!----></li>
          </ul>
        </li>
        <li id="mm-main-item_371813" class="mm-main-item"><span id="mm-main-item-link_371813"
            class="mm-main-item-link">Kontakty</span><!---->
          <ul class="mm-level-1">
            <li id="mm-submenu-item_371762" class="mm-submenu-item"><a href="/page/kontakty?jv=1"
                id="mm-submenu-item-link_371762" class="mm-submenu-item-link">Hlavní kontakty a
                sídlo firmy</a><!----><!----></li>
            <li id="mm-submenu-item_371763" class="mm-submenu-item"><a href="/page/kontakty#obchod"
                id="mm-submenu-item-link_371763" class="mm-submenu-item-link">Kontakty na obchodní
                tým</a><!----><!----></li>
            <li id="mm-submenu-item_371794" class="mm-submenu-item"><a href="/page/kontakty#hypo"
                id="mm-submenu-item-link_371794" class="mm-submenu-item-link">Kontakty na hypoteční
                specialisty</a><!----><!----></li><!---->
            <li id="mm-submenu-item_371797" class="mm-submenu-item"><a href="/page/kontakty#hr"
                id="mm-submenu-item-link_371797" class="mm-submenu-item-link">Kontakty na personální
                oddělení</a><!----><!----></li>
            <li id="mm-submenu-item_371795" class="mm-submenu-item"><a href="/page/koupime-pozemky#akvizice"
                id="mm-submenu-item-link_371795" class="mm-submenu-item-link">Kontakty pro nákup
                pozemků</a><!----><!----></li>
            <li id="mm-submenu-item_371798" class="mm-submenu-item"><a href="/page/kontakty#media"
                id="mm-submenu-item-link_371798" class="mm-submenu-item-link">Kontakty pro
                média</a><!----><!----></li>
            <li id="mm-submenu-item_371796" class="mm-submenu-item"><a href="/page/kontakty#dodavatele"
                id="mm-submenu-item-link_371796" class="mm-submenu-item-link">Kontakty pro
                dodavatele</a><!----><!----></li>
          </ul>
        </li>
        <li id="mm-main-item_371814" class="mm-main-item"><a
            href="https://www.central-group.cz/kois.aspx?page=koisPrihlaseni&amp;jv=1" id="mm-main-item-link_371814"
            class="mm-main-item-link">Klientská zóna</a><!----><!---->
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- Header functionality -->
<script src="/js/header.js"></script>