/* TEMP: Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* TEMP: Helvetica Now */
@font-face {
  font-family: 'Helvetica Now';
  font-style: normal;
  font-weight: 100 900;
  /* NOTE: .ttf and .eot don't seem to work */
  src: url('https://www.central-group.cz/storage/CG/test/rodinne-domy/fonts/helvetica-now-var-display/HelveticaNowVar.woff2') format('woff2');
}


:root {
  /* * Brand * */
  --color-blue: #20234c;
  --color-yellow: #ffed00;

  /* * Grays * */
  --color-gray: #f8f8f8;
  /* --color-gray-light: #f2f2f2; */
  /* --color-gray-mid: #e4e4e4; */
  --color-gray-dark: #4D4D4D;

  /* * Body * */
  --color-body-text: #787878;
  --color-body-text-em: #3b3b3b;
  --color-body-text-complimentary: white;

  /* * Palette * */
  --color-primary: oklch(0.3 0 0);
  /* --color-secondary: oklch(0.79 0.062 80); */
  --color-secondary: oklch(0.84 0.05 79.99);
  --color-tertiary: oklch(0.985 0.006 80);

  /* Sections */
  --body-bg-color: white;
  --section-bg-color: var(--body-bg-color);

  /* * Headings * */
  --color-headings: var(--color-primary);
  --text-behind-color: var(--color-secondary);
  --text-behind-opacity: 40%;

  /* * Header and nav * */
  --header-height-top: 55px;
  --header-height-bottom: 39px;
  --header-height: var(--header-height-top);
  --page-nav-height: 52px;

  /* TODO: Fix this mess with containers */
  /* * Layout * */
  --sections-spacing: 2.5rem;
  --container-padding: 15px;
  --container-sm: 800px;
  /* --container-m: 1140px; */
  --container-m: 1320px;
  --container-l: 1920px;
  --content-half: calc(var(--container-m) / 2);
  --breakout-half: calc((var(--container-l) - var(--container-m)) / 2);
  --supergrid: [full-width-start] auto [breakout-start] minmax(0, var(--breakout-half)) [content-start] min(50%, var(--content-half)) [content-middle] min(50%, var(--content-half)) [content-end] minmax(0, var(--breakout-half)) [breakout-end] auto [full-width-end];
  --two-col-gap: 5rem;

  /* * Property availability status * */
  --status-available-color: #66cc66;
  --status-available-color-lt: #f8fff9;
  --status-under-offer-color: #cc9933;
  --status-under-offer-color-lt: #fffdf8;
  --status-sold-color: #993333;
  --status-sold-color-lt: #fffbfb;


  /* * Accessibility * */
  --color-focus-outline: #72c2ff;

  /* * Other */
  scroll-behavior: smooth;
  accent-color: var(--color-secondary);
  interpolate-size: allow-keywords;
}

@media (min-width: 992px) {
  :root {
    --header-height: calc(var(--header-height-top) + var(--header-height-bottom));
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px solid var(--color-focus-outline, -webkit-focus-ring-color) !important;
  outline-offset: 0px !important;
}


/* * Dark Reader optimization * */
html[data-darkreader-scheme="dark"] {
  --darkreader-bg--color-yellow: #dbb722;
}

html[data-darkreader-scheme="dark"] .btn-yellow {
  --darkreader-text--color-blue: #141617;
}

body {
  color: var(--color-body-text);
  overflow-x: hidden;
  background-color: var(--body-bg-color);
}

/* * Page will always fill screen height * */
div[data-v-5782d946] {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main#main {
  flex: 1;
  scrollbar-color: var(--color-secondary) var(--color-tertiary);
}

[hidden][hidden][hidden][hidden] {
  display: none !important;
}

/* * Disables sticky header * */
.head {
  position: static !important;
}

table {
  border-collapse: collapse;
  border: none;
  caption-side: bottom;
}

th,
td {
  padding: 0;
}

:where(main) a {
  color: inherit;
  transition: none;
}

dialog {
  margin: auto;
  border: none;
}

ul,
ol,
menu {
  list-style-type: none;
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

picture,
img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
}

/* Prevents <sub> and <sup> elements from affecting the line height */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input,
button {
  color: inherit;
  font-size: 100%;
  font-family: inherit;
}

textarea {
  max-width: 100%;
  font-size: inherit;
  font-family: inherit;
}

textarea:focus-visible {
  outline: none;
}

small {
  font-size: 80%;
}

strong {
  font-weight: 700;
}

em {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-body-text-em);
}

label {
  user-select: none;
}

address {
  font-style: normal;
}

:where(main) p {
  margin-block: 15px;
  text-wrap: pretty;
}

:where(main) p:first-child {
  margin-top: 0;
}

:where(main) p:last-child {
  margin-bottom: 0;
}

.hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Common styling for containers */
:where(main) :is(.container, .container-sm, .container-m, .container-l) {
  padding-inline: var(--container-padding);
  margin-inline: auto;
  height: 100%;
  position: relative;
}

:where(main) .container {
  max-width: var(--container-m) !important;
}

.container-sm {
  max-width: var(--container-sm) !important;
}

.container-l {
  max-width: var(--container-l) !important;
}

/* WIP */
.container--breakout {
  margin-left: calc((100vw - 100% - 0px)* -1 / 2);
  width: calc(100vw - 0px);
}

hr,
.hr-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif; */
  margin: 2.5rem 0 1.5rem 0;
  text-align: center;
  line-height: 1;
}

hr[data-text]::before {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  translate: -50% 0%;
  background-color: white;
  padding-inline: 10px;
}

.hr-text:before,
.hr-text:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid;
}

/* RESET (end) */

/* * Common Font awesome styling * */
.price-table .sortable::after {
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Pro";
}

/* # BTN */
.btn {
  /* Note: Default color theme is body color */
  --btn-theme: var(--color-body-text);
  --btn-theme-complementary: var(--color-body-text-complimentary);
  --btn-border-radius: 0.0em;
  --btn-background: var(--btn-theme, transparent);
  --btn-background-hover: var(--btn-background);
  --btn-icon-size: 1.15em;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  align-items: center;
  appearance: none;
  background: var(--btn-background);
  border-radius: var(--btn-border-radius);
  border: none;
  color: var(--btn-theme-complementary);
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 550;
  gap: 0 0.5em;
  isolation: isolate;
  justify-content: center;
  line-height: 1.0;
  min-height: 2.7em;
  overflow: hidden;
  padding: 0.6em 1.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
  z-index: 0;
}

@supports (background: color-mix(in oklab, red, currentColor 10%)) {
  .btn {
    --btn-background-hover: color-mix(in srgb-linear, var(--btn-background), currentColor 8%);
  }
}

.btn:not(.disabled, :disabled, .outline):hover {
  background: var(--btn-background-hover);
}

/* Note: Required to override app-wide styling */
a.btn:hover {
  transition: none;
}

/* * Inline * */
.btn-inline {
  display: inline-flex;
}

/* * Full width * */
.btn-full {
  width: 100%;
  /* ? maybe ? */
  /* flex: 1 1 100%; */
  /* display: flex; */
}

/* * Small * */
.btn-sm {
  font-size: 0.75rem;
}

/* * Large * */
.btn-lg {
  font-size: 1.125rem;
}

/* * Sharp corners * */
.btn-sharp {
  --btn-border-radius: 0px;
}

/* * Fully rounded corners  * */
.btn-pill {
  --btn-border-radius: 999px;
}

/* * Icons only (no text)  * */
.btn-icon {
  padding-inline: 0;
  width: 2.7em;
  height: 2.7em;
}

/* * COLORS * */

.btn-primary {
  --btn-theme: var(--color-primary);
  --btn-theme-complementary: #fff;
}

.btn-secondary {
  --btn-theme: var(--color-secondary);
  --btn-theme-complementary: var(--color-primary);
}

.btn-tertiary {
  --btn-theme: var(--color-tertiary);
  --btn-theme-complementary: var(--color-primary);
}

.btn-yellow {
  --btn-theme: var(--color-yellow, #ffed00);
  --btn-theme-complementary: var(--color-blue, #20234c);
}

.btn-blue {
  --btn-theme: var(--color-blue, #20234c);
  --btn-theme-complementary: #fff;
}

.btn-white {
  --btn-theme: white;
  --btn-theme-complementary: var(--color-primary, var(--color-blue, #20234c));
}

.btn-black {
  --btn-theme: black;
  --btn-theme-complementary: white;
}

.btn-gray-dark {
  --btn-theme: var(--color-gray-dark, #4D4D4D);
  --btn-theme-complementary: white;
}

.btn-complimentary {
  --btn-theme-complementary: var(--color-body-text);
  --btn-theme: var(--color-body-text-complimentary);
}

/* * Outline * */
.btn-outline,
.btn-outline-fill {
  --btn-background: transparent;
  color: var(--btn-theme);
  border: 1px solid var(--btn-theme);
}

/* * Outline with fill on hover  * */
.btn-outline-fill:hover {
  --btn-background-hover: var(--btn-theme);
  color: var(--btn-theme-complementary);
}

/* * Ghost * */
.btn-ghost {
  --btn-background: transparent;
  color: var(--btn-theme);
}

/* * Transparent * */
.btn-transparent {
  --btn-background: transparent;
  --btn-background-hover: transparent;
  color: var(--btn-theme);
}

/* * Link * */
.btn-link {
  --btn-background: transparent;
  --btn-background-hover: transparent;
  color: var(--btn-theme);
  overflow: visible;
  padding: 0;
}

.btn-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.15em;
}

/* * Container for Btns * */
.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn-group {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0rem;
}

.btn-group > .btn {
  border-radius: 0px;
}

.btn-group > .btn:first-child {
  border-top-left-radius: var(--btn-border-radius);
  border-bottom-left-radius: var(--btn-border-radius);
}

.btn-group > .btn:last-child {
  border-top-right-radius: var(--btn-border-radius);
  border-bottom-right-radius: var(--btn-border-radius);
}

.btn :is(.icon, [class*="fa-"], img, svg) {
  align-items: center;
  color: currentColor;
  display: inline-flex;
  fill: currentColor;
  flex: 1 0 auto;
  font-size: var(--btn-icon-size);
  height: var(--btn-icon-size);
  justify-content: center;
  max-height: var(--btn-icon-size);
  max-width: var(--btn-icon-size);
  object-fit: contain;
  overflow: visible;
  text-align: center;
  width: var(--btn-icon-size);
}

/* Contact form fix */
.cnt-frm-submit[data-v-13bb746e] {
  font-size: inherit;
  --btn-theme: var(--color-yellow, #ffed00);
  --btn-theme-complementary: var(--color-blue, #20234c);
}

/* BTN (end) */

/* # TYPOGRAPHY */

:where(main) :is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-headings);
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-bottom: 0.5em;
  margin-top: 1.2em;
  position: relative;
  transform-origin: left center;
}


h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}


@media (min-width: 992px) {
  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.875rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }
}


:where(main) :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

:where(main) :is(h1, h2, h3, h4, h5, h6):last-child {
  margin-bottom: 0;
}

:is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
  -webkit-user-drag: none;
}

[data-text-behind] {
  padding-top: 1em;
  /* HACK */
  margin-top: -1em !important;
}

[data-text-behind]::before {
  content: attr(data-text-behind);
  color: var(--text-behind-color);
  opacity: var(--text-behind-opacity);
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1;
  position: absolute;
  transform: translate(0.2em, -0.65em);
  z-index: -1;
  white-space: nowrap;
}



/* * Styling of '#' -- UNUSED * */
h2::before {
  content: '#';
  font-size: 0.85em;
  width: 0px;
  display: inline-block;
  translate: -0.5em 0;
  color: #ddd;
  font-weight: 550;
  user-select: none;
  /* Default hidden styling */
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  /* Visibility delayed to let opacity finish fading */
  transition: translate 200ms, opacity 200ms, visibility 0ms 200ms;

  /* ! hidden */
  display: none;
}

/* States when anchor "#" is visible */
:is(:target h2:first-of-type, h2:target, h2:has(a:hover))::before {
  visibility: visible;
  opacity: 1;
  translate: -0.85em 0;
  transition: translate 200ms, opacity 200ms, visibility 0ms 0ms;
}

/* # HERO */
.hero {
  position: relative;
  isolation: isolate;
  min-height: 350px;
  height: calc(100svh - var(--header-height));
  color: white;
}

/* Backdrop */
.hero::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;

  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .6)), linear-gradient(180deg, rgba(0, 0, 0, .4), transparent);
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.hero > :is(video, picture, img) {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero > :is(picture, img) {
  z-index: -2;
}

.hero > video,
.hero > img,
.hero > picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.hero__inside {
  position: relative;
}

.hero__content {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 55%;
  translate: -50% 50%;
  max-width: calc(100% - var(--container-padding) - var(--container-padding));
  justify-content: center;
}


.hero__logo {
  height: 32px;
  width: fit-content;
}

.hero__logo :is(img, svg) {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 0.95;
  text-wrap: balance;
  color: white;
  margin: 0 0 0.333em;
  max-width: 21ch;
}

.hero hgroup {
  margin: 1.5em 0 2em;
}

.hero hgroup p {
  text-wrap: pretty;
  line-height: 1.2em;
  font-size: 1.0rem;
  max-width: 650px;
  margin: 0;
}


/* md - Tablet */
@media (min-width: 768px) and (min-height: 700px) {
  .hero__logo {
    height: 42px;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .hero hgroup p {
    font-size: 1.25rem;
  }
}

/* xl - Desktop */
@media (min-width: 1200px) and (min-height: 800px) {
  .hero h1 {
    font-size: 4.375rem;
  }
}

/* xxxl - Desktop++ */
@media (min-width: 2000px) and (min-height: 1000px) {
  .hero__inside {
    max-width: var(--container-l) !important;
  }

  .hero h1 {
    font-size: 5.5rem;
  }
}

/* * Jump to content */
.hero__jump {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 24px;
  max-width: 50px;
  -webkit-user-drag: none;
  z-index: 10;
}

a.hero__jump,
.hero__jump a {
  display: block;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
}

/* * Pure css-only scroll down icon with animation * */
.scroll-icon {
  width: 20px;
  height: 38px;
  color: white;
  border-radius: 999px;
  border: 2px solid;
  opacity: 0.75;
  transform-origin: 50% 50%;
  pointer-events: auto;
  overflow: hidden;
  transition: opacity 100ms;
}

.scroll-icon:hover {
  opacity: 1;
}

/* Dot */
.scroll-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 29%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 999px;
  animation: scroll-icon-anim 3s ease-out infinite;
  background: rgba(255, 255, 255, 1);
}

@keyframes scroll-icon-anim {

  /* Is on top, invisible */
  0% {
    opacity: 0;
    top: 25%
  }

  /* Stays on top, becomes visible */
  10% {
    opacity: 1;
    top: 25%
  }

  /* Comes down, stays visible */
  25% {
    opacity: 1;
    top: 75%
  }

  /* Is down, becomes invisible */
  60% {
    opacity: 0;
    top: 75%
  }

  /* Comes up, stays invisible */
  100% {
    opacity: 0;
    top: 25%
  }
}

/* Hero (end) */

/* WIP: REWRITE */
/* # Page Nav */
.page-nav {
  height: var(--page-nav-height, 48px);
  background: #f2f2f2;
  position: sticky;
  top: 0px;
  padding: 0;
  z-index: 100;
}

.page-nav__desktop {
  /* * Proportional columns * */
  display: grid;
  align-items: stretch;
  grid-auto-flow: column;
  width: 100%;
}

.page-nav__mobile {
  /* * Equal columns * */
  align-items: stretch;
  display: grid;
  display: none;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
  padding: 0;
}

.page-nav .btn {
  color: var(--gray-dark);
  padding: 1.15em 1.0em;
  font-size: 0.875rem;
  width: 100%;
}

.page-nav .btn[class*="--yellow"] {
  color: var(--color-blue);
  font-weight: 700;
}

/* * Switch to mobile nav * */
@media (max-width: 991.98px) {
  .page-nav__desktop {
    display: none;
  }

  .page-nav {
    --page-nav-height: 42px;
    /* ? maybe hide on mobile ? */
    display: none;
  }

  .page-nav__mobile {
    display: grid;
  }
}

.page-nav__desktop > a.active {
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* Page Nav (end) */

/* # SECTIONS */
section {
  background: var(--section-bg-color);
  position: relative;
  margin-block: var(--sections-spacing);
  scroll-margin-top: var(--sections-spacing);
  isolation: isolate;
}

/* * Section with bg * */
section:where([class*="bg--"]) {
  margin-block: 0;
  padding-block: calc(var(--sections-spacing) / 1.75);
  color: var(--color-body-text);

}

/* * Sub-sections * */
section section {
  overflow: visible;
  margin-block: var(--sections-spacing)
}

@media (min-width: 992px) {
  :root {
    --sections-spacing: 6rem;
  }

  section section {
    margin-block: calc(var(--sections-spacing) / 2);
  }
}


/* * Section colors * */
.bg--primary {
  --section-bg-color: var(--color-primary);
  color: white;
}

.bg--secondary {
  --section-bg-color: var(--color-secondary);
  color: white;
}

.bg--tertiary {
  --section-bg-color: var(--color-tertiary);
}

.bg--blue {
  --section-bg-color: var(--color-blue);
  color: white;
}

.bg--gray {
  --text-behind-color: #f3f3f3;
  --section-bg-color: var(--color-gray);
}

/* ? Dark "theme" */
.bg--dark {
  --section-bg-color: var(--color-primary);
  --color-headings: var(--color-secondary);
  color: #cdcdcd;
}

[class*="bg--"] :is(h1, h2, h3, h4, h5, h6):first-of-type {
  margin-top: 0;
}

@supports (backdrop-filter: blur(12px)) or (-webkit-backdrop-filter: blur(12px)) {

  /* Frosted glass effect */
  .bg--frost {
    background: hsla(0deg, 0%, 100%, 87%);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: inset 0px -1px 0px 0px rgb(246 246 246 / 75%);
    /* NOTE: Fixes performance issue with backdrop-filter in Safari (forces browser to use GPU acceleration instead of CPU) */
    transform: translate3d(0, 0, 0);
  }

  /* * Accessibility * */
  @media (prefers-reduced-transparency: reduce) {
    .bg--frost {
      background: hsla(0deg, 0%, 100%, 100%);
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }
  }
}

/* SECTION (end) */


/* ? TODO: Rewrite to be less cumbersome and more flexible/explicit to use */
/* ? Possibly/probably get rid of supergrid */

/* TODO: Allow for headings above */

/* # TWO-COL */
/* * Mobile Single-column * */
.two-col {
  --two-col-gap: var(--sections-spacing);
  display: flex;
  flex-direction: column;
  row-gap: var(--two-col-gap);
}

/* Places text above img */
.two-col.img-text {
  flex-direction: column-reverse;
}


.two-col > div {
  padding-inline: var(--container-padding);
}

.two-col img {
  width: 100%;
  object-fit: cover;
  object-position: center center;

  /* TEMP: Two-col img fixed aspect ratio */
  /* aspect-ratio: 5/3;
  aspect-ratio: 16/9; */
}

/* ? Maybe jump straight to 991px ? */
/* * Two column layout * */
@media screen and (min-width: 991px) {
  .two-col {
    --two-col-gap: 10%;
    display: grid;
    grid-template-columns: var(--supergrid);
    row-gap: 1rem;
    align-items: center;
  }

  /* First (left) div */
  .two-col > *:nth-child(odd) {
    padding-right: calc(var(--two-col-gap) / 2);
    grid-column: span 1 / content-middle;
  }

  /* Second (right) div */
  .two-col > *:nth-child(even) {
    padding-left: calc(var(--two-col-gap) / 2);
    grid-column: content-middle / span 1;
  }

  /* Image containers break out * */
  .two-col.img-text > *:nth-child(odd) {
    grid-column: span 2 / content-middle;
    align-self: start;
    padding-left: 0;
  }

  .two-col.text-img > *:nth-child(even) {
    grid-column: content-middle / span 2;
    align-self: start;
    padding-right: 0;
  }
}

/* NOTE: Leftovers from before refactoring (class .breakout) */
/* ? Maybe implement */
/* * Breakout on both sides */
/* .two-col.breakout>*:nth-child(odd) {
  grid-column: span 2 / content-middle;
}

.two-col.breakout>*:nth-child(even) {
  grid-column: content-middle / span 2;
} */


/* WIP */
:is(.two-col.breakout-full>*, .two-col>.breakout-full):nth-child(odd) {
  grid-column: span 2 / content-middle;
  /* background-color: red; */
}

:is(.two-col.breakout-full>*, .two-col>.breakout-full):nth-child(even) {
  grid-column: content-middle / span 2;
  /* background-color: cyan; */
}





/* TWO-COL (end) */

.highlights {
  --hl-icon-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 24px;
  flex-wrap: wrap;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 230px;
  /* line-height: 1.25; */
  text-align: center;
  width: 250px;
  text-wrap: balance;
}

.highlight > [class*="fa-"] {
  margin-bottom: 10px;
  font-size: 36px;
  color: var(--hl-icon-color);
  user-select: none;
}


/* DEPRECATED (possibly) */
.strip {
  width: 100%;
  height: 600px;
  max-height: 100svh;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
}

.strip:has(*) {
  color: white;
  --color-headings: currentColor;
}

.strip:has(*)::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  /* backdrop-filter: brightness(80%); */
  z-index: -1;
}

/* Old iOS Safari bug fix Fix:  */
/* NOTE: Safari versions prior to 15.4 had incorrect rendering of background-attachment 'fixed' and 'local'. We detect and limit to iOS, then versions older than 16, and then fallback to 'initial' */
@supports (-webkit-touch-callout: none) and (not (display: subgrid; )) {
  .strip {
    background-attachment: initial;
  }
}

/* # TIMELINE */
.timeline {
  --tl-dot-size: 16px;
  --tl-line-color: var(--color-secondary);
  --tl-line-thickness: 2px;
  --tl-dot-color: var(--color-secondary);
  --tl-dot-thickness: var(--tl-line-thickness);
  display: flex;
  flex-direction: column;
  isolation: isolate;
  padding-block: 12px;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}

.timeline__point {
  position: relative;
  padding-left: calc(var(--tl-dot-size) * 2 + 0.5rem);
  padding-block: 0.75rem;
}

.timeline__heading {
  display: block;
  margin-bottom: 0.5rem;
  /* line-height: 1.0; */
  /* color: var(--color-body-text-em); */
  order: 1;
}

.timeline__content {
  margin-top: 0.5rem;
}

/* Line */
.timeline__point::before {
  content: '';
  display: block;
  background-color: var(--tl-line-color);
  height: 100%;
  width: var(--tl-line-thickness);
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--tl-dot-size);
  translate: -50% 0;
  z-index: -1;
}

/* Dot */
.timeline__point::after {
  content: '';
  display: block;
  width: var(--tl-dot-size);
  height: var(--tl-dot-size);
  aspect-ratio: 1;
  border-radius: 999px;
  border: var(--tl-dot-thickness) solid var(--tl-dot-color);
  background-color: var(--body-bg-color);
  position: absolute;
  left: calc(var(--tl-dot-size) / 2);
  top: calc(0.75rem + 0.125rem);
}

@media (min-width: 991px) {
  .timeline {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /* * Order: heading, line, dot, content * */
    grid-template-rows: auto 0px var(--tl-dot-size) auto;
    width: fit-content;
    margin-inline: auto;
  }

  .timeline__point {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / -1;
    max-width: 300px;
    justify-items: center;
    text-align: center;
    line-height: 1.25;
    padding: 0;
  }

  .timeline__heading {
    align-content: end;
    order: 1;
  }

  .timeline__content {
    order: 4;
  }

  /* Line */
  .timeline__point::before {
    width: 100%;
    height: var(--tl-line-thickness);
    position: static;
    translate: 0 calc((var(--tl-dot-size) / 2) - 50%);
    order: 2;
  }

  /* Dot */
  .timeline__point::after {
    position: static;
    translate: none;
    order: 3;
  }

  /* Fallback for browsers that do not support subgrid. Line with dots will go above heading and content */
  @supports not (grid-template-rows: subgrid) {
    .timeline__point {
      grid-template-rows: 0px var(--tl-dot-size) auto 1fr;
    }

    .timeline__point::before {
      order: 1;
    }

    .timeline__point::after {
      order: 2;
    }

    .timeline__heading {
      order: 3;
      margin: 0.75rem 0 0;
    }

    .timeline__content {
      order: 4;
    }
  }
}

/* TIMELINE (end) */

/* # PHASES */
.phases {
  --phase-icon-size: 76px;
  --phase-icon-color: var(--color-secondary);
  display: flex;
  align-items: start;
  /* justify-content: center; */
  width: fit-content;
  margin-inline: auto;
  gap: 8px;
  padding-block: 8px;
  max-width: 100%;
  overflow-x: auto;
  isolation: isolate;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
}

.phase {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  line-height: 1.15;
  /* Note: Yes, we really do need to specify all of the widths. And no, we can't just clamp() the width */
  min-width: 160px;
  width: 160px;
  max-width: 160px;
  flex: 0 1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.phase__content {
  display: flex;
  flex-direction: column;
}

.phase__content :is(strong, em) {
  line-height: 1.0;
  margin-bottom: 0.5rem;
}

.phase__icon {
  width: var(--phase-icon-size);
  height: var(--phase-icon-size);
  aspect-ratio: 1;
  padding: calc(var(--phase-icon-size) / 4);
  border-radius: 999px;
  background-color: var(--color-tertiary);
}

/* * Common styling for Phase icon & Arrow icon between phases * */
/* Note: This is the actual icon which can be just about anything - <img>, <picture>, <svg>, font awesome <i>, etc */
.phase__icon > *,
.phase__arrow {
  --fa-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  background-size: contain;
  background-position: center center;
  background-color: transparent;
  color: var(--color-secondary);
  fill: var(--color-secondary);
  /* ? maybe */
  stroke: transparent;
  font-size: calc(var(--phase-icon-size) / 2.666);
  user-select: none;
  isolation: isolate;
  overflow: hidden;
}

.phase__arrow {
  align-self: start;
  text-align: center;
  flex: 0 0 auto;
  width: auto;
  height: var(--phase-icon-size);
  font-size: 24px;
}

/* * Done State (if has class .done OR precedes .current) * */
:where(.done, .phase:has(~.current)) .phase__icon {
  background-color: var(--phase-icon-color);
}

:where(.done, .phase:has(~.current)) .phase__icon > * {
  /* color: white; */
  /* fill: white; */
  color: var(--body-bg-color);
  fill: var(--body-bg-color);
}

/* Arrows preceeding .current */
/* :where(.done, .phase:has(~.current)) + .phase__arrow {
  color: var(--phase-icon-color);
  fill: var(--phase-icon-color);
} */

/* * Current State * */
.current .phase__icon {
  background-color: var(--body-bg-color);
  box-shadow: inset 0px 0px 0px 1.5px var(--phase-icon-color);
}

.current .phase__icon > * {
  color: var(--phase-icon-color);
  fill: var(--phase-icon-color);
}

/* PHASES (end) */

/* # CENÍK TABULKA */
.price-table-wrapper:not(:has(.dt-layout-table)),
.dt-layout-table {
  border: 1px solid #ededed;
  /* border-radius: 10px; */
  overflow: auto;
  scrollbar-color: #c5c5c5 transparent;
  scrollbar-width: thin;
  margin-block: 24px;
}

.price-table {
  width: 100%;
  font-size: 0.875rem;
  margin: 0;
  background-color: white;
  /* text-align: left; */
  line-height: 1.2;
  cursor: default;
}

.price-table tr:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
  border-bottom: none;
}

.price-table tbody tr:nth-child(odd) {
  background-color: #fbfbfb;
}

th {
  color: var(--color-body-text-em);
  user-select: none;
}

.price-table :is(th, td) {
  height: 3.5rem;
  padding: 0.5em 0.75em;
  vertical-align: middle;
  text-align: inherit;
  position: relative;
}

.price-table :is(th, td):first-child {
  padding-left: 1.5em;
}

.price-table :is(th, td):last-child {
  padding-right: 1.5em;
}

.price-table thead {
  /* box-shadow: inset 0px -1px 0px 0px #ededed; */
}

table.price-table > thead > tr > :is(th, td) {
  border-bottom: 1px solid #ededed;
}

.price-table th[class*="dt-ordering"] {
  color: #0576DE;
  border-color: currentColor;
}

.price-table tbody td {
  white-space: nowrap;
}


/* # STATUS */

.property-status {
  border-radius: 999px;
  line-height: 1;
  text-align: center;
  background-color: #ffffff;
  display: block;
  letter-spacing: -0.02em;
  line-height: 1.15;
  -webkit-user-select: none;
  user-select: none;
  max-width: 9em;
  padding: 0.25em 0.75em;
  color: #696969;
  font-weight: 600;
  border: 1px solid currentColor;
  font-size: 0.625rem;
}

.property-status.dot {
  display: inline-flex;
  width: 10px;
  height: 10px;
  overflow: hidden;
  aspect-ratio: 1;
  padding: 0;
  background-color: currentColor !important;
}

.property-status.available {
  color: #66cc66;
  background-color: #f8fff9;
}

.property-status.under-offer {
  color: #cc9933;
  background-color: #fffdf8;
}

.property-status.sold {
  color: #993333;
  background-color: #fffbfb;
}

.price-table tbody td.active,
.price-table td[class*="sorting"] {
  font-weight: bold;
  color: var(--color-body-text-em);
}

.price-table .sortable {
  cursor: pointer;
}

.price-table .sortable::after {
  content: "\e60d";
  opacity: 0.25;
  margin-left: 0.6em;
  font-size: 85%;
}

.price-table .sortable.asc::after {
  content: "\f106";
}

.price-table .sortable.desc::after {
  content: "\f107";
}

.price-table .sortable:hover::after {
  opacity: 0.5;
}

.price-table .sortable.active {
  color: #0576DE;
  box-shadow: inset 0px -1px 0px 0px currentColor;
}

.price-table .sortable.active::after {
  opacity: 1;
}

/* Hover on orderable cells */
table.dataTable thead > tr > :is(th, td):is(.dt-orderable-asc, .dt-orderable-desc):hover {
  outline: none;
  background-color: rgba(0, 0, 0, 0.020);
}


/* # LAYOUT VIEWER */

.layout-viewer-wrapper {
  position: relative;
}

.layout-viewer {
  position: relative;
}

.layout-viewer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}


.layout-viewer-map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


.layout-viewer-map [id^="rd-path"] {
  fill: rgb(255, 255, 255);
  fill-opacity: 0.5;
}

.layout-viewer-map [id^="rd-path"]:hover {
  stroke: white;
  stroke-width: 4px;
}

.layout-viewer-map [id^="rd-path"].available {
  fill: var(--status-available-color);
}

.layout-viewer-map [id^="rd-path"].under-offer {
  fill: var(--status-under-offer-color);
}

.layout-viewer-map [id^="rd-path"].sold {
  fill: var(--status-sold-color);
}

.lv-details-box {
  position: fixed;
  z-index: 100;
}

.lv-details-box__content {
  margin: auto;
  min-width: 12rem;

  font-size: 0.875rem;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  box-shadow: 0 0.625rem 1.875rem rgba(2, 2, 3, 0.28);
  max-width: 450px;
  /* ? maybe ? */
  font-family: "Plus Jakarta Sans", "Roboto", "Exo 2", sans-serif;
}

.lv-details-box__header {
  background-color: var(--color-secondary);
  padding: 0.5rem 1.25rem;
  position: relative;
}

.lv-details-box__close {
  inset: 0 0 0 auto;
  height: 100%;
  position: absolute;
  appearance: none;
  border: none;
  outline: none;
}

.lv-details-box__body {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1rem 1.25rem;
}

.lv-details-box__grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em 0.75em;
}

.lv-details-box dt {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.15;
}

.lv-details-box dd {
  font-size: 0.875rem;
  font-weight: 400;
}

.lv-details-box__name {
  font-size: 1.5rem;
}

.lv-details-box__price {
  font-size: 1.0rem;
}

@media (pointer: fine) {
  .lv-details-box__btn-open {
    display: none;
  }

  .lv-details-box__close {
    display: none;
  }
}

.pz-controls {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.pz-controls-group {
  display: flex;
  flex-direction: column;
}

.pz-control, .pz-controls button {
  width: 2.0em;
  height: 2.0em;
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pz-controls-group :is(.pz-control, .pz-controls button):not(:first-child) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.pz-controls-group :is(.pz-control, .pz-controls button):not(:last-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}


/* TEMP: preview only - already part of map box styling */
article.map {
  position: relative;
  min-height: 450px;
  height: 60vh;
  max-width: 100%;
  /* margin-bottom: 3.5rem; */
  overflow: hidden;
}

/* TEMP: ditto */
.map iframe {
  height: calc(100% + 100px);
  margin-top: -100px;
}

/* TEMP: ditto */
.map > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* # CARDS */
.apt-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 270px), 1fr));
  gap: 12px;
  height: 100%;
  margin-bottom: 1rem;
}

.apt-card {
  background-color: white;
  border-radius: 16px;
  border-radius: 10px;
  color: var(--color-gray-dark);
  /* NOTE: for some reason to na prod stránce hází na display: block, proto important */
  display: flex !important;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.15;
  gap: 0.5rem;
  box-shadow: 0px 0px 0px 1px #f1f1f1;
  overflow: hidden;
  padding: 1.0rem 1.25rem;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: box-shadow 150ms, background-color 150ms, filter 150ms;
}

@media (pointer: coarse), not (hover: hover) {
  .apt-card:active {
    /* background-color: #f9f9f9; */
    filter: brightness(95%);
  }
}

.apt-card__big-info {
  font-size: 1.25rem;
  color: var(--color-blue);
  font-weight: 700;
  line-height: 1.15;
}

a.apt-card,
.apt-card a {
  text-decoration: none;
  color: inherit;
}

.apt-card a:hover {
  text-decoration: underline;
}

.apt-card h4 {
  font-size: 1.125rem;
  color: var(--color-blue);
  margin-bottom: 0.0em;
  font-weight: 700;
  line-height: 1.15;
}

.apt-card h5 {
  font-size: 1rem;
  color: var(--color-blue);
  margin: 0;
  font-weight: 400;
}

.apt-card .apt-card__specs {
  flex-grow: 1;
}

.apt-card__thumbnail-img {
  width: auto;
  height: 9rem;
  aspect-ratio: 4/3;
  object-fit: contain;
  object-position: center;
  padding: 0.25rem 0 0.625rem;
  margin: 0 auto;
}

@supports not (aspect-ratio: 4/3) {
  .apt-card__thumbnail-img {
    max-width: min(12rem, 100%);
  }
}

/* Růžice */
.apt-card__compass {
  position: absolute;
  display: block;
  width: 1.5rem;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.apt-card__heading {
  color: var(--color-blue, #20234c);
  display: flex;
  align-items: center;
  gap: 0.25em 0.5em;
  justify-content: left;
  flex-wrap: wrap-reverse;
}

.apt-card__heading [class*="fa-"] {
  font-size: 1rem;
  margin-bottom: -0.1em;
}

.apt-card dl.dl-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: baseline;
  margin: 0;
  gap: 0.3em 0.6em;
}

.apt-card dt {
  font-size: 0.875rem;
  font-weight: 400;
}

.apt-card dd {
  font-size: 1rem;
  font-weight: 650;
  line-height: 1;
}

.apt-card .label {
  display: block;
  line-height: 1.25;
}

.apt-card .apt-card__fav {
  position: absolute;
  top: 0rem;
  right: 0rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

/* If browser supports :has() selector */
@supports selector(:has(*)) {
  /* and if device is capable of hover and uses mouse */
  @media (hover: hover) and (pointer: fine) {

    /* hide heart by default */
    .apt-card .apt-card__fav {
      display: none;
    }

    /* show heart on hover */
    .apt-card:hover .apt-card__fav {
      display: block;
    }

    /* heart stays visible if active */
    .apt-card .apt-card__fav:has(.fa-heart.fas) {
      display: block;
    }
  }
}

/* Heart icon general */
.apt-card__fav .fa-heart {
  cursor: pointer;
  color: var(--color-gray-dark);
  transition: color 75ms, scale 150ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
  padding: 16px 18px;
  border-radius: 0 16px 0 16px;
}


/* When primary pointer is fine (cursor, pen) */
@media (pointer: fine) {

  /* Smaller hitbox for heart icon */
  .apt-card__fav .fa-heart {
    margin: 12px 14px;
    padding: 4px;
  }

  .apt-card__fav i.fal:hover {
    color: var(--color-heart);
  }
}

.apt-card__fav .fa-heart:hover:active {
  scale: 75%;
  color: var(--color-heart);
}

/* Add to fav - heart fill */
.apt-card__fav .fa-heart.fas {
  color: var(--color-heart);
  animation-name: heart-fill;
  animation-duration: 125ms;
}

/* Remove from fav - heart pop */
.apt-card__fav .fa-heart.fal {
  animation-name: heart-pop;
  animation-duration: 100ms;
}


@keyframes heart-fill {
  0% {
    scale: 100%;
  }

  50% {
    scale: 75%;
  }

  75% {
    scale: 110%;
  }

  100% {
    scale: 100%;
  }
}

@keyframes heart-pop {
  0% {
    scale: 100%;
  }

  50% {
    scale: 90%;
  }

  100% {
    scale: 100%;
  }
}

.gallery {
  --gallery-columns: 2;
}

/* @media (min-width: 575px) {
  .gallery {
    --gallery-columns: 2;
  }
} */

@media (min-width: 992px) {
  .gallery {
    --gallery-columns: 3;
  }
}

/* Hide all images except the first */
.gallery:not(.gallery--grid) > :not(:first-child) {
  display: none;
}

/* Grid layout */
.gallery.gallery--grid {
  display: grid;
  grid-template-columns: repeat(var(--gallery-columns), 1fr);
  gap: 12px;
}


.hotspots {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

/* ? MAYBE: Fit to screen width when screen in horizontal ? */

.hotspots__content {
  width: 1200px;
  overscroll-behavior: none;
  position: relative;
}

.hotspots__content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  /* !!! SUPER TEMP !!! */
  aspect-ratio: 18.5/9;
}

@media (min-width: 1200px) {
  .hotspots__content {
    width: 100%;
  }

  .hotspots__swipe {
    display: none;
  }
}

@media (min-width: 992px) {
  .hotspots__content {
    /* margin-inline: auto; */
  }

  .hotspots__content > img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.hotspots__item {
  position: absolute;
  translate: -50% -50%;
  top: 0;
  text-align: center;
}

.hotspots__point {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  /* background-color: var(--color-secondary); */
  background-color: black;
  box-shadow: 0 0 10px -2px hsla(0deg, 0%, 0%, 90%);
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="white" d="M352 128L352 96L288 96L288 288L96 288L96 352L288 352L288 544L352 544L352 352L544 352L544 288L352 288L352 128z"/></svg>');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

.hotspots__textbox {
  width: 200px;
  cursor: default;
  font-size: 0.75rem;
  background-color: white;
  padding: 0.75em 1.25em;
  margin-top: 6px;
  text-transform: uppercase;
  line-height: 1.333;

  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 0%;
}

.hotspots__item:not(:focus-within) .hotspots__textbox {
  display: none;
}


.hotspots__controls {
  color: white;
  position: absolute;
  left: 20px;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotspots__switches {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 10rem;
}

.hotspots__disclaimer {
  position: absolute;
  right: 20px;
  bottom: 32px;
  font-size: 0.75rem;
  font-style: italic;
  color: #f3f3f3;
  opacity: 75%;
  text-align: right;
  max-width: 200px;
  line-height: 1.25;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  user-select: none;
}


/* TODO: Price table apt-cards view */
/* TODO: Improve gallery layout (grid, tabs/sections) */
/* TODO: Refactor using SCSS ?? */
/* TODO: Optimize for PRINT */

/* * Accessibility * */
@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }

  /* Disabled video if hero has fallback image */
  .hero:has(>img, >picture) video {
    display: none;
  }

  .scroll-icon::after {
    animation: none;
  }
}






/* # DEBUG MENU */
/* * Custom Header vs CG header */
/* * custom header light/dark */
/* * CG logo v custom headeru */
/* * FONT Plus Jakarta Sans */
/* * wider container (100vw) */
/* * CENÍK současný vs cinematic waltrovka */

/* TEMP: DEBUG MENU */
.debug {
  position: fixed;
  z-index: 999;
  right: 12px;
  bottom: 24px;
  user-select: none;
}

.debug__icon {
  color: white;
  background-color: var(--color-blue);
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 999px;
}

.debug__items {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 6px;
  color: white;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
}

.debug__items label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.875rem;
}


/* * ALT: Custom header */
:root:has(.alt-custom-header) {
  --header-height: 0px;
  scroll-margin-top: var(--rd-header-height);

  .rd-header {
    display: block;
  }

  header, #page-nav {
    display: none;
  }

  .hero__logo {
    display: none;
  }
}

/* FIXME: Anchor navigation - header overlaps page content */
/* BUG: Opening mobile nav when header has .transparent then header is, well, transparent */
.rd-header {
  --rd-header-bg-color: white;
  --rd-header-color: var(--color-primary);
  --rd-header-height: 72px;
  color: var(--rd-header-color);
  background-color: var(--rd-header-bg-color);
  height: var(--rd-header-height);
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  inset: 0px 0px auto 0px;
  position: fixed;
  transition-duration: 300ms;
  transition-property: background, color, box-shadow, height;
  width: 100%;
  z-index: 50;
  /* NOTE: Hidden by default */
  display: none;
}


.rd-header.dark {
  --rd-header-bg-color: var(--color-primary);
  --rd-header-color: white;
}

/* NOTE: Transparent overrides .dark */
.rd-header.transparent {
  --rd-header-height: 120px;
  --rd-header-bg-color: transparent;
  --rd-header-color: white;
  box-shadow: none;
}

.rd-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEMP */
@media (min-width: 2000px) and (min-height: 1000px) {
  .rd-header__content {
    max-width: var(--container-l) !important;
  }
}

.rd-header__links {
  align-items: center;
  display: flex;
  gap: 2.75rem;
  justify-content: space-between;
  letter-spacing: 0.01em;
}

/* ? Gold hover links ? */
.rd-header .rd-header__links a:hover {
  color: var(--color-secondary);
}

.rd-header__logo {
  height: 32px;
}

.rd-header__burger {
  display: none;
}

/* HACK */
@media (min-width: 992px) {
  .rd-header nav {
    display: contents !important;
  }
}

/* MOBILE */
@media (max-width: 991.98px) {
  .rd-header__burger {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    display: flex;
    font-size: 20px;
    outline: none;
  }

  .rd-header,
  .rd-header.transparent {
    --rd-header-height: 62px;
  }

  .rd-header nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .rd-header__links {
    background-color: var(--rd-header-bg-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
    max-height: calc(100dvh - var(--rd-header-height));
    overflow: auto;
    scrollbar-width: none;
  }

  .rd-header__logo {
    width: 120px;
  }
}

/* * ALT: wider breakout */
:root:has(.wider) {
  --breakout-half: calc((100% - var(--container-m)) / 2);
}

.font-jakarta main,
main .font-jakarta {
  /* !! ALT FONT */
  /* font-family: 'Helvetica Now' !important; */
  font-family: "Plus Jakarta Sans" !important;
}


/* TEMP: DARK THEME */
/* :root {
  --color-primary: #101010;
  --color-headings: var(--color-secondary);
  --body-bg-color: var(--color-primary);
  --color-body-text: hsl(0, 0%, 85%);
  --color-body-text-complimentary: var(--section-bg-color);
}
section.bg--tertiary {
  --section-bg-color: url('https://c.victoria-palace.cz/images/pattern.png') no-repeat center center;
} */


:root {
  --cg-header-bg-prim: hsl(236, 0%, 21%);
  --cg-header-bg-prim-hover: hsl(237, 0%, 33%);
  --cg-header-bg-sec: hsl(234, 0%, 14%);
  --cg-header-bg-sec-hover: hsl(234, 0%, 28%);
  --cg-header-text-color: hsl(234, 0%, 14%);
}

header.head.gray {

  &,
  .hd-container, .hd-container2,
  .hd-top-menu .main-menu li {
    background-color: var(--cg-header-bg-prim);
  }

  .hd-top-menu .mm-level-0 li > ul,
  .hd-top-menu .mm-submenu-item {
    border-color: var(--cg-header-bg-prim);
  }

  .hd-top-menu .main-menu li:hover {
    background-color: var(--cg-header-bg-prim-hover);
  }

  .hd-top-menu .mm-submenu-item-big-dark a {
    color: var(--cg-header-text-color);
  }

  .head-bottom,
  .head-bottom .hd-container2,
  .head-bottom .mm-menu-bottom li {
    background-color: var(--cg-header-bg-sec);
  }

  .mm-level-0 li > ul {
    border-color: var(--cg-header-bg-sec);
  }

  .head-bottom .mm-menu-bottom li:hover {
    background-color: var(--header-bg-sec-hover);
  }
}


/* Contact form fix */
.v--modal-overlay .v--modal-background-click {
  width: 100%;
  height: 100%;
  max-width: 100dvw;
  max-height: 100dvh;
  margin: 0;
}

.v--modal-overlay .v--modal-box {
  max-width: 90dvw;
  max-height: 90dvh;
}


/* WIP: For elements INSIDE a .continer to break out of its max-width */

/* ? Do we want to include padding?? Or go edge-to-edge ? */
.container-br-l,
.container-br-full {
  --br-w: var(--container-m);
  width: var(--br-w);
  /* * no padding (edge-to-edge) */
  max-width: 100vw;
  /* * with padding */
  /* max-width: calc(100vw - (var(--container-padding) * 2)); */
  margin-inline: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.container-br-l {
  --br-w: var(--container-l);
}

.container-br-full {
  --br-w: 100dvw;
}

/* TODO: Rewite two-col to make use of container-out */