:root {
  /** Brand **/
  --color-blue: #20234c;
  --color-yellow: #ffed00;

  /** Grays **/
  --color-gray: #f8f8f8;
  /* --color-gray-light: #f2f2f2; */
  /* --color-gray-mid: #e4e4e4; */
  --color-gray-dark: #4D4D4D;
  --color-text: var(--color-gray-dark, #4D4D4D);
  --color-text-behind: #c8bfd940;

  /** Palette **/
  --color-primary: var(--color-blue);
  --color-secondary: #ffffff;
  --color-tertiary: #ffffff;

  /** Accessibility **/
  --color-focus-outline: #72c2ff;

  /** Header and nav **/
  --header-height-top: 55px;
  --header-height-bottom: 39px;
  --header-height: calc(var(--header-height-top) + var(--header-height-bottom));
  --page-nav-height: 48px;

  /** Layout **/
  /* --supergrid: [full-width-start] auto [breakout-start] minmax(0, var(--breakout-half)) [content-start] min(50%, var(--content-half)) [content-middle] min(50%, var(--content-half)) [content-end] minmax(0, var(--breakout-half)) [breakout-end] auto [full-width-end]; */

  /** Other */
  scroll-behavior: smooth;
  accent-color: var(--color-primary);
  interpolate-size: allow-keywords;
}

@media screen and (max-width: 991px) {
  :root {
    --header-height: var(--header-height-top);
  }
}

html {
  /* ! temp value -> sticky nav height */
  scroll-padding-top: calc(var(--page-nav-height) + 0px);
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

/** Dark Reader optimization **/
html[data-darkreader-scheme="dark"] {
  --darkreader-bg--color-yellow: #dbb722;
}
html[data-darkreader-scheme="dark"] .btn-yellow {
  --darkreader-text--color-blue: #141617;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  /* ? maybe keep or remove !important ? */
  outline: 3px solid var(--color-focus-outline, -webkit-focus-ring-color) !important;
  outline-offset: 0px !important;
}

[hidden] {
  display: none !important;
}

/* ! temp */
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */

body {
  color: var(--color-text, #4D4D4D);
  overflow-x: clip;
  /* ? maybe change ? */
  /* line-height: 1.5; */
}

/* ! TEMP - Testing fonts */
main {
  /* font-family: 'Rubik' */
  /* font-family: 'Inter' */
  /* font-family: 'Geist' */
  /* font-family: 'Plus Jakarta Sans' */
  /* font-family: 'Raleway' */
  /* font-family: 'Poppins' */
  /* font-family: 'Archivo' */
}


/* Content always fills screen height */
div[data-v-5782d946] {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
main#main { flex: 1; }

.head {
  position: static !important;
}


table {
  border-collapse: collapse;
  border: none;
}

:where(main) a {
  color: inherit;
  transition: none;
}

dialog {
  margin: auto;
  border: none;
}

ul, ol {
  list-style-type: none;
  /* ? maybe */
  /* padding-left: 1.25rem; */
}

dl, dd, dt {
  margin: 0;
  padding: 0;
}

picture, img, svg, video, canvas {
  display: block;
  max-width: 100%;
  user-select: none;
  /* -webkit-user-drag: none; */
}

/* Note: Prevents <sub> and <sup> elements from affecting the line height */
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

input, button {
  font-family: inherit;
}

textarea {
  max-width: 100%;
  font-size: inherit;
  font-family: inherit;
}

textarea:focus-visible {
  outline: none;
}

small {
  font-size: 80%;
}

strong {
  font-weight: 700;
}

label {
  user-select: none;
}

:where(main) p {
  margin-block: 15px;
  text-wrap: pretty;
}

:where(main) p:first-child {
  margin-top: 0;
}

:where(main) p:last-child {
  margin-bottom: 0;
}

.hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(50%);
  white-space: nowrap;
}

:where(main) .container {
  max-width: 1110px !important;
  padding-inline: 15px;
  margin-inline: auto;
  height: 100%;
  position: relative;

  /* ? consider ? */
  max-width: 1400px !important;
}

.container-m {
  max-width: 800px !important;
  padding-inline: 15px;
  margin-inline: auto;
  height: 100%;
  position: relative;
}

.container--breakout {
  margin-left: calc((100vw - 100% - 0px)* -1 / 2);
  width: calc(100vw - 0px);
}

.hr-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hr-line:before,
.hr-line:after {
  content: "";
  flex: 1 1;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.175);
  opacity: 0.5;
}
/* RESET (end) */


/* # BTN */
.btn {
  --btn-theme: transparent;
  --btn-theme-complementary: var(--color-blue, #20234c);
  --btn-border-radius: 0.45em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  align-items: center;
  appearance: none;
  background: var(--btn-theme, transparent);
  border-radius: var(--btn-border-radius, 6px);
  border: none;
  color: var(--btn-theme-complementary, var(--color-blue, #20234c));
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 0 0.6em;
  isolation: isolate;
  justify-content: center;
  line-height: 1.1;
  overflow: hidden;
  overflow: clip;
  padding: 0.8em 1.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 150ms;
  user-select: none;
  vertical-align: middle;
  white-space: initial;
  width: fit-content;
  z-index: 0;
}

/** Btn Hover styling **/
/* Note: :is() does not select pseudo-elements -> :is(::before, ::after) won't work */
.btn::before,
.btn::after{
  background: currentColor;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center 0px;
  transition-duration: 200ms;
  transition-property: transform, opacity, height, color;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  width: 100%;
}

.btn::before{
  z-index: -1;
}

.btn:not(.disabled, :disabled, .outline):hover::after{
  opacity: 0.075;
}

/** Colors **/
.btn[class*="--yellow"] {
  --btn-theme: var(--color-yellow, #ffed00);
  --btn-theme-complementary: var(--color-blue, #20234c);
}

.btn[class*="--blue"] {
  --btn-theme: var(--color-blue, #20234c);
  --btn-theme-complementary: #fff;
}

.btn[class*="--white"] {
  --btn-theme: white;
  --btn-theme-complementary: var(--color-primary, var(--color-blue, #20234c));
}

.btn[class*="--black"] {
  --btn-theme: black;
  --btn-theme-complementary: white;
}

.btn[class*="--gray-dark"] {
  --btn-theme: var(--color-gray-dark, #4D4D4D);
  --btn-theme-complementary: white;
}

.btn[class*="--primary"] {
  --btn-theme: var(--color-primary);
  --btn-theme-complementary: #fff;
}

.btn[class*="--secondary"] {
  --btn-theme: var(--color-secondary);
  --btn-theme-complementary: var(--color-primary);
}

.btn[class*="--tertiary"] {
  --btn-theme: var(--color-tertiary);
  --btn-theme-complementary: var(--color-primary);
}

/** Inline **/
.btn[class*="--inline"]{
  display: inline-flex;
}

/** Full width **/
.btn[class*="--fill"]{
  width: 100%;
}

/** Rounded  **/
.btn[class*="--rounded"]{
  --btn-border-radius: 999px;
}

/** Rounded  **/
.btn[class*="--sharp"]{
  --btn-border-radius: 0px;
}

/** Outline  **/
.btn[class*="--outline"]{
  background: transparent;
  color: var(--btn-theme);
  border: 1px solid var(--btn-theme);
}

/** Outline Fill on hover  **/
.btn[class*="--outline-fill"]:hover{
  background: var(--btn-theme);
  color: var(--btn-theme-complementary);
}

/** Ghost **/
.btn[class*="--ghost"] {
  background: transparent;
  color: var(--btn-theme);
}

/** Transparent **/
.btn[class*="--transparent"]{
  background: transparent;
  color: var(--btn-theme);
}

.btn[class*="--transparent"]::before,
.btn[class*="--transparent"]::after{
  background: transparent;
}

/** Sizes **/
/* .btn[class*="--large"] {
  font-size: 1.0rem;
} */

/* BTN (end) */

/* # TYPOGRAPHY */
:where(main) :is(h1,h2,h3,h4,h5,h6){
  position: relative;
  color: var(--color-primary, var(--color-blue, #20234c));

}
:where(main) :is(h1,h2,h3,h4,h5,h6):first-child {
  margin-top: 0;
}
h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: -0.015em;
  margin-top: 2rem;
}

/** Styling of '#' (hidden by default) **/
h2::before {
  /* ! wip */
  content: '#';
  font-size: 0.85em;
  width: 0px;
  display: inline-block;
  translate: -0.5em 0;
  color: #ddd;
  font-weight: 550;
  user-select: none;
  /** Default hidden styling **/
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  /** Visibility delayed to let opacity finish fading **/
  transition: translate 200ms, opacity 200ms, visibility 0ms 200ms;
}

/** The '#' is visible **/
:is(:target h2, h2:target, h2:has(a:hover))::before{
  visibility: visible;
  opacity: 1;
  translate: -0.85em 0;
  transition: translate 200ms, opacity 200ms, visibility 0ms 0ms;
}

/** Container element for Btns **/
.buttons-holder{
  margin: -0.2rem;
}

/** Adds separating margins around Btns **/
.buttons-holder .btn{
  margin: 0.2rem;
  max-width: calc(100% - 0.4rem);
  max-height: calc(100% - 0.4rem);
}

.hero {
  position: relative;
  isolation: isolate;
  min-height: 350px;
  height: calc(100svh - var(--header-height));
  /* height: calc(100svh - var(--header-height) - var(--page-nav-height)); */
  background: rgb(172, 172, 172);
  color: white;
  /* ! temp */
  background: url('https://rezidencekolovraty.cz/app/uploads/2023/02/Kolovraty_II_002_220617-min-scaled.jpg') no-repeat 30% center/cover;
}

/* Backdrop */
.hero::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.25); */

  background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.5)),linear-gradient(180deg,rgba(0,0,0,.2),transparent);
}

.hero>video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__inside {
  position: relative;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  left: 0;
  bottom: 60%;
  translate: 0 50%;
  padding-inline: 15px;
}

.hero__logo {
  width:  120px;
  height: 120px;
  aspect-ratio: 1;

  /* ! temp */
  border: 1px solid #cdaa65;
  padding: 8px;
  align-content: center;
  /* backdrop-filter: blur(0px) brightness(1.2); */
}

.hero__logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero h1 {
  /* font-size: 4rem; */
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  text-wrap: balance;
  color: white;
  font-size: 80px;
}


/* ! temp name */
.subtitle {
  text-wrap: pretty;
  line-height: 1.25;
  font-size: 1.5rem;
  font-size: 1.5rem;
}

.hero__jump {
  /* ! temp off */
  display: none;

  bottom: 16px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  transition: transform 300ms;
  -webkit-user-drag: none;
  z-index: 10;
  font-size: 24px;
}

.hero__jump a {
  display: block;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
}

@media (max-width: 991px), (max-height: 768px) {
  .hero__logo{
    width:  90px;
    height: 90px;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .subtitle{
    font-size: 18px;
  }
}

/* ! WIP - REWRITE */
/* # Page Nav */
.page-nav{
  height: var(--page-nav-height, 48px);
  background: #f2f2f2;
  position: sticky;
  top: 0px;
  padding: 0;
  z-index: 100;
}


.page-nav__desktop{
  /** Proportional columns **/
  display: grid;
  align-items: stretch;
  grid-auto-flow: column;
  width: 100%;
}


.page-nav__mobile{
  /** Equal columns **/
  align-items: stretch;
  display: grid;
  display: none;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
  padding: 0;
}

.page-nav .btn{
  --btn-border-radius: 0px;
  color: var(--gray-dark);
  /* font-weight: 500; */
  padding: 1.15em 1.0em;
  font-size: 0.875rem;
  width: 100%;
}

.page-nav .btn[class*="--yellow"] {
  color: var(--color-blue);
  font-weight: 700;
}

/** Switch do mobile nav **/
@media screen and (max-width: 991px){
  .page-nav__desktop{
    display: none;
  }
  /* ? maybe off ? */
  .page-nav { 
    /* display: none;  */
  }
  .page-nav__mobile{ 
    display: grid;
  }
}

.page-nav__desktop>a.active{
  font-weight: 700;
  letter-spacing: -0.02em;
}
/* ? Page Nav (end) */

/* # SECTION */
section {
  position: relative;
  overflow-x: clip;
  padding-block: 3.0rem;
  /* scroll-margin-top: 3.0rem; */
}

/** Section with no bg, following a section with no bg **/
:where(section:not([class*="bg-"]))+section:not([class*="bg-"]) {
  padding-top: 0;
}

/** Section with bg **/
section:where([class*="bg-"]) {
  padding-block: 3.0rem;
}

@media (max-width: 991px){
  section{
      padding-block: 2.5rem;
  }
}

/** Section colors **/
.bg-primary{
  background-color: var(--color-primary, var(--color-blue, #20234c));
  color: white;
  --color-text-behind: #20234c;
}

.bg-gray{
  --color-text-behind: #f3f3f3;
  background-color: var(--color-gray, #e8e8e8);

}

.bg-blue{
  background-color: var(--color-blue, #20234c);
  color: white;
}

@supports (backdrop-filter: blur(12px)) or (-webkit-backdrop-filter: blur(12px)){
  /* ? Frosted glass effect */
  .bg-frost{
      background: hsla(0deg, 0%, 100%, 87%);
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      box-shadow: inset 0px -1px 0px 0px rgb(246 246 246 / 75%);
      transform: translate3d(0, 0, 0); /* Fixes performance issue with backdrop-filter in Safari (forces browser to use GPU acceleration instead of CPU) */
  }
}
/* SECTION (end) */

.two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 48px;
  /* ? maybe ? */
  align-items: center;
}

@media (max-width: 991px) {
  .two-col {
    display: flex;
    flex-direction: column;
  }
  .two-col.alt {
    flex-direction: column-reverse;
  }
}

.highlights {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 24px;
  flex-wrap: wrap;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 180px;
  line-height: 1.25;
  text-align: center;
  width: 250px;
}

.highlight > [class*="fa-"]{
  margin-bottom: 10px;
  font-size: 32px;
  color: var(--color-primary);
  user-select: none;
}

.highlight > strong {
  font-size: 1.125rem;
  color: black;
}

.strip {
  width: 100%;
  height: 450px;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* # TIMELINE */
.timeline {
  --tl-dot-size: 16px;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  padding-block: 12px;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}

.timeline__point {
  position: relative;
  padding-left: calc(var(--tl-dot-size) * 2 + 0.5rem);
  padding-block: 0.75rem;
}

.timeline__heading {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  line-height: 1.0;
  color: black;
  order: 1;
}

.timeline__content {
  margin-top: 0.75rem;
}

/* Line */
.timeline__point::before {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 1px;
  position: absolute;
  top:  0;
  bottom: 0;
  left: var(--tl-dot-size);
  translate: -50% 0;
  z-index: -1;
}

/* Dot */
.timeline__point::after {
  content: '';
  display: block;
  width:  var(--tl-dot-size);
  height: var(--tl-dot-size);
  aspect-ratio: 1;
  border-radius: 999px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  left: calc(var(--tl-dot-size) / 2);
  top:  50%;
  translate: 0 -50%;

  /** ALT **/
  translate: none;
  top: calc(0.75rem + 0.125rem);
}

@media screen and (min-width: 991px) {
  .timeline {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /** heading, line, dot, content **/
    grid-template-rows: auto 0px var(--tl-dot-size) auto;
    width: fit-content;
    margin-inline: auto;
  }

  .timeline__point {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / -1;
    max-width: 300px;
    justify-items: center;
    text-align: center;
    line-height: 1.25;
    padding: 0;
  }

  .timeline__heading {
    align-content: end;
    order: 1;
  }
  
  .timeline__content {
    order: 4;
  }

  /* Line */
  .timeline__point::before {
    width: 100%;
    height: 1px;
    position: static;
    translate: 0 calc(var(--tl-dot-size) / 2);
    order: 2;
  }
  /* Dot */
  .timeline__point::after {
    position: static;
    translate: none;
    order: 3;
  }

  /* Fallback for browsers that do not support subgrid. Line with dots will go above heading and content */
  @supports not (grid-template-rows: subgrid) {
    .timeline__point { grid-template-rows: 0px var(--tl-dot-size) auto 1fr; }
    .timeline__point::before { order: 1; }
    .timeline__point::after { order: 2; }
    .timeline__heading { order: 3; margin: 0.75rem 0 0; }
    .timeline__content { order: 4; }
  }
}
/* TIMELINE (end) */

/* # PHASES */
.phases {
  --phase-icon-size: 80px;
  display: flex;
  align-items: start;
  /* justify-content: center; */
  width: fit-content;
  margin-inline: auto;
  gap: 8px;
  padding-block: 16px 8px;
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  isolation: isolate;
  scroll-snap-type: x mandatory;
}

.phase {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  line-height: 1.15;
  /* ? idk ? */
  /* max-width: 300px; */
  /* flex: 0 0 150px; */
  /* Note: Yes, we really do need to specify all of the widths. And no, we can't just clamp() the width */
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  flex: 0 1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.phase__content {
  display: flex;
  flex-direction: column;
}

.phase__content strong {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.0;
  margin-bottom: 0.5rem;
  color: black;
}

.phase__icon {
  width:  var(--phase-icon-size);
  height: var(--phase-icon-size);
  aspect-ratio: 1;
  padding: 20px;
  border-radius: 999px;
  background-color: var(--color-gray, #e8e8e8);
}

/** Common styling for Phase icon & Arrow icon between phases **/
/* Note: This is the actual icon which can be just about anything - <img>, <picture>, <svg>, font awesome <i>, etc */
.phase__icon > *, 
.phase__arrow 
{
  display: flex;
  --fa-display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  background-size: contain;
  background-position: center center;
  background-color: transparent;
  color: #bbb;
  fill:  #bbb;
  /* ? maybe ? */
  stroke: transparent;
  font-size: 30px;
  user-select: none;
  isolation: isolate;
  overflow: clip;
}

.phase__arrow {
  align-self: start;
  text-align: center;
  flex: 0 0 auto;
  width: auto;
  height: var(--phase-icon-size);
  font-size: 24px;
}

/** Done State (class .done OR preceding .current) **/
:where(.done, .phase:has(~.current)) .phase__icon {
  background-color: var(--color-primary);
}
:where(.done, .phase:has(~.current)) .phase__icon > * {
  color: white;
  fill:  white;
}
:where(.done, .phase:has(~.current)) + .phase__arrow {
  color: var(--color-primary);
  fill:  var(--color-primary);
}

/** Current State **/
.current .phase__icon {
  background-color: white;
  box-shadow: inset 0px 0px 0px 1.5px var(--color-primary);
}
.current .phase__icon > * {
  color: var(--color-primary);
  fill:  var(--color-primary);
}
/* PHASES (end) */

/* # LAYOUT VIEWER */
/* ! WIP */
.layout-viewer {
  position: relative;
}
.layout-viewer.expanded {
  height: 90vh;
}
.layout-viewer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.expand {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  width:  32px;
  height: 32px;
  aspect-ratio: 1;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 6px;
  position: absolute;
  bottom: 10px;
  right:  10px;
  cursor: pointer;
  overflow: clip;
  transition: 100ms
}
.expand:active {
  scale: 0.9;
}

@media (min-width: 992px) {
  .expand {
    display: none;
  }
}

/* ! TEMP - preview only - already part of map box styling */
article.map {
  position: relative;
  min-height: 450px;
  height: 60vh;
  max-width: 100%;
  margin-bottom: 3.5rem;
}